<nav class="navbar bg-success">
    <div class="container-fluid d-flex justify-content-end">
        <ul class="nav justify-content-end">
            <li class="nav-item me-1">
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#AddNewProd">
                    Добавить продукт
                </button>
            </li>
            <li class="nav-item me-1">
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#AddNewLoc">
                    Добавить локацию
                </button>
            </li>
        </ul>
    </div>
</nav>